<strong>Olá, {{ organizer }}</strong>
<p>Uma pessoa se inscreveu para o seu meetup {{ meetup }}</p>
<p>
  <strong>Nome: </strong> {{ user }} <br />
  <strong>E-mail: </strong> {{ email }} <br />
  <br />
</p>
